.page {
  font-family: $mainFont, sans-serif;
  color: $mainTextColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: $mainBGColor;

  &__main {
    flex-grow: 1;
    padding-top: 150px;
  }

  &__footer {
    margin-top: 100px;
  }
}
