@import '../../styles/utils/variables';

.sorts-filters {
  width: 50%;
  max-width: 400px;

  @media (width < $mobile) {
    width: 100%;
  }

  &__byTitle {
    margin-bottom: 8px;
  }

  &__byDates {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__dash {
    width: 12px;
    height: 1px;
    background-color: #000;
    margin: 0 10px;
  }

  &__byDate {
    padding: 12px;

    &::after {
      background: center / 100% no-repeat url('../../assets/icons/calendar.svg');
    }

    input[type="date"] {
      &::-webkit-datetime-edit-fields-wrapper { display: none; }

      &::-webkit-calendar-picker-indicator {
        background: transparent;
        color: transparent;
        cursor: pointer;
        position: absolute;
        inset: 0;
        width: auto;
        height: auto;
      }
    }
  }
}
