@import '../../styles/utils/variables';

.event {
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 1px 2px 9px 0 #8a8a8a;
  }

  &__img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 18px;
  }

  &__title {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: 150%;
    flex: 1 1 auto;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }
}